*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
#navbar{
    background: black;
    color: aliceblue;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    width: 100%;
    
}
#ilm {
    color: aliceblue;
    
}
#navbar ul {
    list-style: none;
    display: flex;
}
#navbar ul li a{
    color: white;
    padding: 2rem;
    margin: 1rem;
    text-decoration: none;

}
#showcase{
    background: url(https://images.unsplash.com/photo-1506202687253-52e1b29d3527?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80)center/cover;
    height: 40rem;
    color: white;
    background-repeat: no-repeat;
} 
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    align-items: center;
    height: 100%; 
    padding: 0.2rem;
    
}
.btn {
    text-decoration: none;
    color: aliceblue;
}
.btn:hover {
    text-decoration: none;
    color: black;
    background: white;
    
}
#KHK {
    height: 100%;
    padding: 2rem;
    text-align: center;
    
}
.khk_btn {
     text-decoration: none;
    color: black;
    padding: 0.25rem;
}
.khk_btn:hover {
     text-decoration: none;
    color: white;
    background: black;
    
}
      #features  .box {
          display: flex;
            float: left;
            width: 33.3%;
             height:auto;
            padding: 50px;
            text-align: center;
          background: aliceblue;
          align-items: center;
            
        }
        #features .box i {
            margin-bottom: 10px;
        }
/*        footer*/
        footer {
            text-align: center;
            padding: 20px;
            
        }
    
        .clear {
            clear: both;
        }
    
#temp {
    font-size: 2rem;
    font-family:sans-serif;
}